extend base

block layout
  .bg-blur
  .container-table
   .container-table-child
      h1.hello 404
      p.subtitle This page was not found, sorry!
    footer.front-page
      a(href="https://secure.flickr.com/photos/daves-f-stop/9412179886/in/photostream/") Photograph by Dave Morrow
