extend base

block layout
  .bg-blur
  .container-table
   .container-table-child
      h1.hello Hello
      p.subtitle My name is Antoine Bolvy
      p.subsubtitle and I'm a Developer
      ul.links
        li
          a.icon-github(href="https://github.com/Saveman71" title="Github")
        li
          a.icon-stackoverflow(href="http://careers.stackoverflow.com/antoinebolvy" title="Careers 2.0")
        li
          a.icon-linkedin(href="https://www.linkedin.com/in/antoinebolvy/en" title="LinkedIn")
        li
          a.icon-twitter(href="https://twitter.com/Saveman71" title="Twitter (Mostly french)")
    footer.front-page
      a(href="https://secure.flickr.com/photos/daves-f-stop/9412179886/in/photostream/") Photograph by Dave Morrow
