
<aside class="share">
  <p>See a typo? Fix it by <a href="{{ site.repo }}/edit/master/{{ page.path }}" title="Edit this post on GitHub">editing</a> this post.</p>

  <p>If you liked this article and think others should read it, please <a href="http://twitter.com/share?text={{page.title}}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.twitter_username }}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">share it on Twitter <i class="fa fa-twitter" aria-hidden="true" style="color:#00aced"></i></a> or <a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank">Reddit <i class="fa fa-reddit" aria-hidden="true" style="color:#FF8b60"></i></a>.</p>

</aside>
