* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  p {
    font-size: 110%;
  }

}

body {
  background-color: $base-background-color;
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
}

hr {
  border-top: none;
  border-bottom: 2px solid lighten($light-gray-color, 7%);
  width: 100%;
  margin: $small-spacing 0;
}

main {
  flex: 1;
}

.container {
  padding: $base-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  font-weight: normal;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.link {
  color: $blue-color;
  padding-bottom: .05em;
  border-bottom: 2px solid transparent;

  @include transition(border $base-duration $base-timing);

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $blue-color;
  }
}

.site-header {
  margin-bottom: $base-spacing * 4;
  min-height: 80px;
}

.nav {
  min-height: 64px;
}

.navbar {
  float: right;
  margin: 0;
  position: relative;
  padding: 0;
  pointer-events: all;
  cursor: pointer;

  li {
    display: inline-block;
    padding: 0 .6em;
  }

  a {
    @extend .link;
  }
}

.post-list {

}

.category-title {
  margin: 1em 0 0.5em 0;

  &:first-child {
    margin-top: 0;
  }
}

.post-item {
  margin-bottom: 0.2em;
  display: flex;
  justify-content: space-between;

  a {
    color: $action-color;
  }

  .article-title {
    flex-grow: 1;
    display: inline-block;
    margin-right: 1em;
    border-bottom: 1px dashed lighten($light-gray-color, 10%);
  }

  .date-label {
    text-align: center;
    border: 1px solid lighten($light-gray-color, 10%);
    padding: 0 0.2em;
    margin-top: 2px;
    @extend .pull-right;
  }
}

.post-header {
  margin-bottom: $small-spacing;
}

.post-title {
  margin-bottom: .1em;
}

.post-meta {
  color: $medium-gray-color;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  font-size: rem(14);
}

.post-link,
.post a,
.page a {
  @extend .link;
}

.post {
  @extend .clearfix;
}

.pagination {
  li, a, span {
    display: inline-block;
  }

  a, span {
    font-size: rem(12);
    padding: .5em;
  }

  .prev, .next {
    @extend .link;
  }
}

article {
  img {
    display: block;
    margin: 2em auto;
    &.screenshot {
      -webkit-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.share {
  border-top: 0.2em solid lighten($light-gray-color, 13%);
  padding-top: $base-spacing;
  margin-top: $base-spacing;

  p {
    margin: 0;
    font-size: rem(14);
    color: $medium-gray-color;
  }
}

.disqus {
  background-color: lighten($light-gray-color, 18%);
  padding: $base-spacing 0;

  hr {
    margin: $base-spacing 0;
  }
}

.site-footer {
  @extend .clearfix;

  padding: $base-spacing 0;

  opacity: .8;
  color: lighten($medium-gray-color, 5%);
  @include transition(opacity 150ms linear);

  &:hover {
    opacity: 1;
  }

  a {
    @extend .link;
  }

  small {
    display: block;
    font-size: rem(12);
  }
  .block {
    display: block;
  }
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 75%;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;

  iframe,
  object,
  embed {
    position:absolute;
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  }
}

.divider {
  border-top: 0.2em solid lighten($light-gray-color, 13%);
  margin-bottom: $base-spacing * 2;
  margin-top: $base-spacing * 2;
}

.resumes {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;

  margin-top: 1em;
  font-size: rem(20);
  font-weight: 300;

  p {
    grid-column: 1 / span 2;
  }

  a {
    grid-row: 2;
    height: 3em;
    font-size: 1.1em;

    display: flex;
    align-items: center;
    justify-content: center;
    color: lighten($black-color, 60%);

    border: 1px solid lighten($light-gray-color, 15%);

    @include transition(border $base-duration $base-timing);

    &:first-of-type {
      border: 1px solid lighten($light-gray-color, 12%);
      @include prefixer(box-shadow, 0 0.2em 2em darken(white, 1.5%), webkit spec);
    }

    &:hover {
      color: lighten($black-color, 10%);
      border: 2px solid lighten($blue-color, 10%);
    }

    &:active {
      background: darken(white, 5%);
    }

    &:not(:hover) .emoji-icon {
      @include filter(grayscale(30%));
      opacity: .6;
    }
  }
}

a.sneaky-calendar {
  color: inherit;
  border-bottom: 2px dashed darken(white, 5%);
}
